<form action="/mongooses" method="post">
  <div>
    <label for="name">Mongoose Name:</label>
    <input type="text" id="name" name="mongoose_name">
  </div>
  <div>
    <label for="height">Mongoose Height:</label>
    <input type="text" id="height" name="mongoose_height">
  </div>
  <div>
    <label for="sound"> Mongoose Sound </label>
    <input id="sound" name="mongoose_sound"></input>
  </div>
  <input type="submit" value="submit me"> 
</form>